<!DOCTYPE html>
<html>
<head>
	<title>Image Captioning</title>

</head>
<body>

	      <h1 class="heading">Image Captioning</h1> 

	
	

		<form method="POST" enctype="multipart/form-data" action="/">
	        
	         <input type="file" name="userfile" placeholder="Your image">
              <input type="submit">


	    </form>

         {% if your_result %}
         
         <img src="{{your_result['image']}}">
         <br>

         <h1> Generated Caption: <i> {{ your_result['caption']}} </i> </h1> 
        
          {% endif %}

</body>
</html>
